body {
  /* margin: 0;
  padding: 0;
  background-image: url(1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fix; */
  margin: 0;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.gallery img {
  width: 100%; /* Mengatur lebar gambar agar responsif */
  height: auto; /* Mempertahankan rasio aspek gambar */
  max-width: none; /* Menghapus batasan lebar maksimum */
  height: auto; /* Mempertahankan rasio aspek gambar */
  object-fit: cover;
}

.gallery img:nth-child(3) {
  margin-top: -42px;
}

.navbar {
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.nav-item {
  font-family: "Poppins", sans-serif;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link.active {
  position: relative;
}

@media (min-width: 991px) {
  .nav-link.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #b91a00;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link.active:hover::before {
    width: 100%;
    visibility: visible;
  }
}

.events-container {
  margin: auto;
  max-width: 990px;
  margin-top: -650px;
}

.item img {
  margin-left: 60px;
  width: 400px;
  object-fit: contain;
  height: auto;
}

.item {
  margin-left: -160px;
}

.player {
  position: absolute;
  z-index: 0;
  top: 1900px;
  left: 380px;
  aspect-ratio: 16/9;
  width: 50%;
}

.hide-scrollbar {
  scrollbar-width: none;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile:nth-child(3) {
    margin-top: -70px;
  }

  .events-container {
    margin: auto;
    max-width: 400px;
    margin-top: -650px;
  }

  .item img {
    margin-left: 110px;
    width: 220px;
    object-fit: contain;
    height: auto;
  }

  .item {
    margin-left: -160px;
  }

  .player {
    position: absolute;
    z-index: 0;
    top: 1900px;
    aspect-ratio: 16/9;
    width: 90%;
  }
}
